*.wav
*.idea
.ipynb_checkpoints/
*.ipynb
*__pycache__*
*.band
*.band*
*pytest_cache*
.pytest_cache/
*.ogg
*.flac
*.so
musiclang_predict.egg-info/*
main.py
*.mid
!musiclang_predict/corpus/*.mid
*.midi
venv/
**.DS_Store
notebooks/data
data
locals/
*.pyc
build/
musiclang.egg-info/
documentation/build/
documentation/_build/
**.pickle
dist/
documentation/auto_examples/
*.ipynb